<template name="PublicFooter">
  <footer class="text-center">
      <div class="footer-above">
          <div class="container">
              <div class="row">
                  <div class="footer-col col-md-4">
                      <h3>Localização</h3>
                      <p>R. Rio Amazonas, 151 - Jardim dos Migrantes, Ji-Paraná - RO, 78900-730
                          <br>Telefone: (69) 2182-6900</p>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>Delfos nas Redes Sociais</h3>
                      <ul class="list-inline">
                          <li>
                              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                          </li>
                      </ul>
                  </div>
                  <div class="footer-col col-md-4">
                      <h3>Sobre os desenvolvedores</h3>
                      <p>Os desenvolvedores deste website são discentes do
                        4º ano do curso Técnico em Informática no Instituto
                        Federal de Rondônia, Campus Ji-Paraná.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-below">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      Copyright &copy; IFRO 2016
                  </div>
              </div>
          </div>
      </div>
  </footer>
</template>
