<template name="DelfosIntroducao">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <img class="img-responsive" src="/imgs/logo-full.png" alt="">
            <h2 class="name" style="font-size:4em">Software Delfos</h2>
            <hr class="star-light">
            <span class="skills">O software Delfos foi proposto para suprir esta necessidade de pesquisadores que utilizem o método Delphi em suas pesquisas. Por ser um software resultante da parceria entre o Instituto Federal de Educação, Ciência e Tecnologia de Rondônia (IFRO) – Campus Ji-Paraná e a Universidade Federal de Rondônia (UNIR) – Campus Ji-Paraná e ambos serem de domínio público, o software será livre e terá o código aberto.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{> DelfosExplicacao}}
</template>

<template name="DelfosExplicacao">
  <section class="success">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Delfos</h2>
                  <hr class="star-light">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                  <p>O método Delphi:</p>
                  <p>O método Delphi é utilizado há mais de sessenta anos e
                     procura um consenso entre diversos especialistas a respeito
                     de conhecimentos futuros. O Delphi – ou Delfos – é
                     utilizado em inúmeras áreas de conhecimento.
                     Em 1999, surgiu a ideia de aliar o Delphi tradicional à
                     internet, surgindo o Delphi Eletrônico. Porém, a ferramenta
                     não é de fácil acesso. Muitos pesquisadores estão ingressando
                     nesta área de pesquisa, mas há um grande problema: com a falta
                     de ferramentas específicas a pesquisa pode demorar muito.
                     Diante do exposto, há uma necessidade de investimento tecnológico
                     nesta área, pois tais pesquisas demandam tempo por conta de serem
                     realizadas em vários ciclos, resultando em um grande número de
                     dados para serem analisados. </p>
              </div>
              <div class="col-lg-4">
                  <p>A maior dificuldade do método ocorre quando há um grande
                    número de especialistas. Neste sentido é necessário agilizar
                    o tempo da pesquisa, já que ainda não existem muitas opções
                    de softwares gratuitos que foquem, especificamente, nesta
                    técnica de pesquisa. O software Delfos foi proposto para
                    suprir esta necessidade de pesquisadores que utilizem o
                    método Delphi em suas pesquisas. Por ser um software
                    resultante da parceria entre o Instituto Federal de
                    Educação, Ciência e Tecnologia de Rondônia (IFRO) – Campus
                    Ji-Paraná e a Universidade Federal de Rondônia (UNIR) –
                    Campus Ji-Paraná e ambos serem de domínio público, o
                    software será livre e terá o código aberto. Conclui-se que,
                    com tamanha demanda, a criação de um software representa um
                    enorme avanço em relação à velocidade da aplicação do método.
                  </p>
              </div>
          </div>
      </div>
  </section>
</template>
